*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}
:root{
    --color0:#ffffff;
    --color1:#F7EDFF;
    --color2:#AD8EEA;
    --color3: #1C072E;
    --color4:#000000;
    --color5:#56168B;
    --color6:#6E162B;

    --color7:#FC576C;
    --color8:#069DA0;
    --color9: #05C583;
    
    --boton:#E56A69;
    --boton1:#2FBA7B;
    --boton3: #DF3626;
}
body{
    background: var(--color1);
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*       Header            */
header{
    color: var(--color1);
    width: 100%;
    background: var(--color0);
    position: relative;
    background-repeat: no-repeat;
	background-size: cover;
    box-shadow: 0px 0px 10px -2px var(--color2);
}
header nav{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 4fr 3fr 2fr;
}

header h1{
    color: var(--color3);
    font-weight: bold;;
}

header span{
    color: var(--color3);
    font-weight: bold;;
}

/*         Main          */
table{
    background: var(--color0);
    border-collapse: collapse;
    width: 100%;
}
.datos{
    padding: 20px 10px;
    margin: 20px;
    min-width:770px ;
    background: var(--color0);
    box-shadow: 0px 0px 10px -2px var(--color2);
    border-radius: 5px;
    height: 390px;
    overflow-y: scroll;
}
.datos::-webkit-scrollbar{
    width: 2px;
    background: var(--color3);
}
.datos::-webkit-scrollbar-thumb{
    background: var(--color2);
}

th, td {
    border-bottom: solid 2px var(--color3);
    padding: 15px 5px;
    text-align: center;
    width: 200px;
}
th{
    background: var(--color3);
    color: var(--color1);
    font-size: 14px;
    text-align: center;
}
td{
    font-size: 14px;
}
.formIngresoDatos{
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px -2px var(--color2);
    border-radius: 5px;
    display: flex;
    background: var(--color0);
    justify-content: center;
}
.formIngresoDatos form{
    text-align: center;
}
.principal{
    display: flex;
    flex-direction: column;
}
.principal__items{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.formIngresoDatos input{
    padding: 5px 45px;
    margin: 5px auto;
    text-align: center;
}
select{
    padding: 5px 15px;
    margin: 5px auto;
    text-align: center;
}
.formIngresoDatos input[type="submit"]{
    padding: 5px 30px;
    margin: 5px auto;
    text-align: center;
}

/*      Aside        */
aside{
    background-image: url("../fondos/fondoAside.jpg");
    background-size: cover;
    box-shadow: 0px -5px 20px -5px var(--color5);
    height: 100vh;
    position: relative;
    z-index: 100;
}
aside section{
    background: linear-gradient(to bottom, rgba(28, 7, 46,.9) 40%, rgba(110, 22, 43,.9));
    height: 100vh;
}
li:first-child{
    padding-top: 10px;
}
li{
    text-align: start;
    padding: 5px 0 10px 25px;
    list-style: none;
}
a{
    letter-spacing: .8px;
    color: var(--color1);
    text-decoration: none;
    font-size: 16px;
    transition: all .2s;
}
a:hover{
    color: var(--color2);
}
.logo img{
    margin: 15px 15px 0;
    width: 180px;
}
.informacion_usuario{
    padding: 0 10px;
}
.informacion_usuario h4{
    padding: 10px;
}
aside h4{
    color:var(--color1);
    text-align: center;
    border-top: solid 2px var(--color2);
    border-bottom: solid 2px var(--color2);
}
/*       Aside Lateral           */
.lateral{
    background: var(--color1);
    font-size: 95%;
    height: 550px;
    overflow-y: scroll;
}
.lateral::-webkit-scrollbar{
    width: 2px;
    background: var(--color3);
}
.lateral::-webkit-scrollbar-thumb{
    background: var(--color2);
}
.lateral h3{
    margin: 20px 20px 10px;
}
.card{
    border-left: solid 2px var(--color3);
    border-right: solid 2px var(--color3);
    padding: 10px;
    margin: 10px 20px;
    background: var(--color0);
    box-shadow: 0px 0px 10px -2px var(--color2);
    border-radius: 5px;
}

/*               BOTONES                 */
.botones{
    display: flex;
    flex-direction: row;
}
.btnuser, .btnhelp{
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 10px;
    padding: 8px;
    text-decoration: none;
    background: var(--color3);
    color: var(--color1);
    transition: all .2s;
}
button:hover{
    color: var(--color1);
    background: var(--color2);
}

.bteditar, .bteliminar,.btcerrars{
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 5px;
    padding: 5px;
    text-decoration: none;
}
.bteditar{
    font-family: 'Shrikhand', cursive;
    background: var(--color1);
    border: solid 1px var(--color3);
    color: var(--color3);
    transition: all .2s;
    font-weight: bold;
}
.bteliminar{
    font-family: 'Shrikhand', cursive;;
    background: var(--color6);
    color: var(--color1);
    transition: all .2s;
}
.btcerrars{
    background: var(--boton3);
    color: var(--color1);
    border: none;
    padding: 10px;
    margin: 0 20px;
    transition: all .2s;
}
.btcerrars:hover{
    background: var(--boton);
    color: var(--color4);
}

/*          MENU ESTADISTICAS          */
.estasGeneral{
    display: flex;
    margin: 0 8px;
    justify-content: center;
}
.estasGeneral__item{
    display: flex;
    min-width: 240px;
    margin: 20px 10px 0;
    padding: 0px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px var(--color2);
    background:linear-gradient(to left,#894054, var(--color6));
    color: var(--color1);
}
.estasGeneral__item:nth-child(2){
    background:linear-gradient(to left,#49D1A6, var(--color9));
    color: var(--color1);
}
.estasGeneral__item:last-child{
    background:linear-gradient(to left,#77C3CD, var(--color8));
    color: var(--color1);
}
.estasGeneral__item span{
    height: 50px;
    padding: 0 10px;
    font-size: 40px;
}
.eg__detalle{
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.estasGeneral__item img{
    width: 80px;
    height: 80px;
    align-items: center;
    align-content: center;
    margin: auto;
}
.estVentas_Cont{
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.estasSecundaria{
    display: flex;
    margin: 0 8px;
    justify-content: center;
    text-align: center;
}
.estasSecundaria__item{
    display: flex;
    justify-content: space-around;
    min-width: 250px;
    margin: 20px 0 0;
    padding: 0px 15px 10px;
    text-align: center;
    box-shadow: 0px 0px 10px -2px var(--color2);
    background:linear-gradient(to left,#443154, var(--color3));
    border-top: 10px solid transparent;
    color: var(--color1);
}
.estasSecundaria__item:first-child{
    border-radius: 10px 0 0 10px;
}
.estasSecundaria__item:nth-child(2){
    background: var(--color6);
    background:linear-gradient(to left,#8D465A, var(--color6));
}
.estasSecundaria__item:last-child{
    border-radius: 0px 10px 10px 0px;
    background:linear-gradient(to left,#7843A4, var(--color5));
}
.estasSecundaria__item span{
    padding: 0 10px;
    font-size: 26px;
}
.estasSecundaria__item h4{
    display: flex;
    align-items: center;
}

.estVentas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.proVendido a{
    border-radius: 5px;
    text-align: center;
    padding: 0 5px;
    background: var(--color3) ;
}
/* -------------Manejode reportes ------- */
#principal{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 200;
    background: var(--color1);
    opacity: .5;
}
.ReportesStyle,.estVentas{
    margin: 0 10px 0 0;
    background: var(--color0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px var(--color2);
}
.Reporte{
    padding: 10px 20px;
    display: none;
    position: absolute;
    width: 600px;
    min-height: 400px;
    background: var(--color3);
    top: 20%;
    left: 25%;
    border-radius: 10px;
    z-index: 400;
}